html, body {
    height: 100%;
}

#dashboard-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
}

#dashboard-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    border-right: 1px black solid;
}

#dashboard-menu h3 {
    text-align: center;
}

#dashboard-content .logged-in-bar {
    text-align: right;
}

#dashboard-content .logged-in-bar a {
    margin-left: 20px;
}

#dashboard-content table {
    margin-top: 100px;
}

#dashboard-content h1 {
    margin-bottom: 50px;
}

#dashboard-menu a.active {
    background-color: #3fb618;
}
